*{
    margin: 0px;
    width: 100%;
}
header{
    border: 0px solid rgb(123, 156, 115);
    background-color: rgb(123, 156, 115);
    display:flex;
    z-index: 0;
    border-bottom: 5px solid rgb(37, 37, 37);
}
header img{
    width: 15%;
    margin-left: 30%;
    margin-top: 2%;
    display:line;
    transition: 0.7s;
}
#tlogo img:hover{
    width: 16%;
    margin-left: 29%;
}
#topl a{
    display:line;
    background-color: rgb(123, 156, 115);
    width: 10%;
    font-size: 62px;
    transition: all .5s;
    margin-left: 5%;
    margin-bottom: 3%;
}
#topl a:hover{
  font-size: 65px;
}
#topl a:visited{
    color: white;
}
#topl a:link{
    color: white;
}
#vhod{
    width: 15%;
    height: 10%;
    margin: 1%;
    margin-top: 3%;
    font-size: 32px;
    text-decoration: none;
    border: 0px solid white ;
    border-radius: 10px;
    background-color: rgb(197, 197, 197);
    color: black;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    display: line;
}
#registr{
    width: 15%;
    height: 10%;
    margin: 1%;
    margin-top: 3%;
    font-size: 32px;
    text-decoration: none;
    border: 0px solid white ;
    border-radius: 10px;
    background-color: rgb(197, 197, 197);
    color: black;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    display: line;
}
#registr:hover{
    background-color: rgb(76, 97, 71);
    color: white;
    width: 20%;
    z-index: 10;
    display: line;
}
#vhod:hover{
    background-color: rgb(76, 97, 71);
    color: white;
    width: 20%;
    z-index: 10;
    display: line;
}
main{
    background-color: rgb(76, 97, 71);
    height: 600px;
    padding-top: 1%;
}
#bron{
    width: 40%;
    margin-left: 30%;
    background-color: rgb(123, 156, 115);
    height: 550px;
    border: 5px solid white;
    border-radius: 10px;
}
#dati{
    display: inline-flex;
}
#date1{
    display: inline-flex;
}
#date1 p{
    margin-top: 3%;
    margin-left: 20%;
    color: white;
    font-size: 24px;
    width: 23%;
}
#bron h1{
    color: white;
    text-align: center;
    margin-top: 1%;
    font-size: 46px;
    border-bottom: 3px solid black;
}
#dater{
    width: 30%;
    margin-top: 3%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    color: white;
}
#date2{
    display: inline-flex;
}
#date2 p{
    margin-top: 3%;
    margin-left: 20%;
    color: white;
    font-size: 24px;
    width: 23%;
}
#datev{
    width: 30%;
    margin-top: 3%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    color: white;
}
#chel{
    width: 30%;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    margin-left: 30%;
    margin-top: 3%;
    font-size: 26px;
    color: white;
    text-align: center;
}